.language-selection > .ant-select-selector {
  /* Simulate rounded-3xl */
  border-radius: var(--radius-3xl);
}

.desktop-trade-wrapper {
  height: calc(100vh - var(--navbar-height) - 4px);
}
/*
 * AntDesign - Select > bug on safari for iOS and safari for iPadOS.
 * Select-clear-button does require a double tap if kept inside the select.
 * Based on : https://github.com/ant-design/ant-design/issues/28917#issuecomment-1573949415
 * the only approach for now is to move the button outside by shrinking the size of the select.
 * It's ugly but it works.
 *
 * Based on LLM research on may/2025
 * -webkit-touch-callout is supported only on safari or other browsers based on webkit.
 */
@supports (-webkit-touch-callout: none) {
  .ant-select:has(.ant-select-clear) .ant-select-selector {
    width: calc(100% - 35px) !important;
  }

  .ant-select:has(.ant-select-clear) {
    .ant-select-arrow,
    .ant-select-arrow svg {
      display: none !important;
    }
  }

  .ant-select-clear,
  .ant-select-arrow,
  .ant-select-clear svg,
  .ant-select-arrow svg {
    width: 1.3em !important;
    height: 1.3em !important;
  }
}
