@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --navbar-height: 5em;
  --glow-color: lightblue;
}

.navbar-transition {
  transition: background-color .3s linear;
}

.navbar-btn {
  @apply m-2 inline-block rounded-md p-2 text-white hover:bg-gray-600;
}

.navbar-color {
  background: rgba(43, 127, 255, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
}

.profile-btn {
  @apply m-2 mt-3 rounded-full bg-gray-200 p-2 text-base text-black;
}

.profile-dropdown {
  li:nth-child(n) {
    /* All li inside a dropdown */
    @apply px-5 hover:bg-gray-500 py-1
  }
  li:nth-child(1) {
    /* First li inside a dropdown */
    @apply mt-5;
  }
  li:nth-last-child(1) {
    /* Last li inside a dropdown */
    @apply mb-5;
  }
  
  li:not(:nth-last-child(1)):nth-child(n) {
    /* All li except the last inside the dropdown */
    /* @apply after:relative after:mt-2 after:mb-2 after:block after:h-[1px] after:w-[100%] after:bg-gray-500; */
    @apply after:relative after:top-[1pt] after:block after:h-[1px] after:w-[100%] after:bg-gray-500;
  }
}

.loaded-card {
  @apply !h-auto transition-all duration-1000;
}

.skeleton-card {
  @apply ml-0 h-[15em] w-[11em] cursor-pointer overflow-hidden rounded-xl bg-[#ececec] bg-[linear-gradient(110deg,_#ececec_12%,_#f5f5f5_24%,_#ececec_33%)] bg-[length:400%_200%] bg-repeat shadow-[0_10px_10px_rgba(0,0,0,0.05)];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mt-12 mb-6 font-sans leading-[1.1] font-bold break-words;
}

.zoomedInCard {
  transition: all 1s ease;
  transform: rotate(0) translate(0) scale(2) !important;
  z-index: 10;
  margin-left: 20%;
}

.friend-code-label{
  color: rgba(0,0,0,.33);
  font-size: small;
  width: 100%;
  align-items: start;
  @apply pr-3 pl-3 pt-3 pb-2
}
/* 
.trade-slider .slick-list {
  overflow: visible !important;
} */
/* .wrap-original-transform {
  perspective: 280px !important;
  transform-style: preserve-3d !important;
  perspective-origin: 43% 50% !important;
}

.original-transform {
  transform: rotateX(-31deg) rotateY(-21deg) !important;
} */
.wrap-original-transform {
  perspective: 191px;
  transform-style: preserve-3d;
  perspective-origin: 43% 50%;
}

.original-transform {
  transform: rotateX(-8deg) rotateY(8deg);
}

/* Hero Section */
@font-face {
  font-family: "FlexoRegular";
  src: local("FlexoRegular"),
   url("/fonts/Flexo-Regular.ttf") format("truetype");
}

.hero-font {
  font-family: "FlexoRegular", arial, sans-serif;
}

@media (width < 48rem) {
  .hero-carousel {
    display: none !important;
  }
}

/* Trade Section - view card list */
.cardex-grid {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

@media (width <= 768px) {
  .cardex-grid {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)) !important;
  }
  .card-searcher {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.trade-mobile-wrapper {
  display: flex;
  height: calc(100vh - var(--navbar-height));
}

.custom-select .ant-select-selection-item-content {
  display: flex !important;
  align-items: center !important;
}
.custom-select .ant-select-selection-item {
  height: min-content !important;
}

.filter-badge .ant-scroll-number.ant-badge-count{
  top: .5em;
  right: 1em;
}

.search-block {
  transition: all .5s ease-in;
}

.slide-menu {
  height: calc(100vh - var(--navbar-height))
}
/* .slide-menu {
  transition: all .35s ease-in-out;
  height: calc(100vh - 5em);
  outline: 1px solid #dcdcdc;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 1rem 1rem 0 0;
  background-color: white;
} */

.slideup {
  top: 8em;
  height: calc(100vh - 8em);
}

.all-cards-scrollable {
  /* height: calc(100vh - 12em);  // 8em(navbar) + ~ 3em(searchoptions+padding) */
  height: calc(100vh - calc(var(--navbar-height) + 3rem))
}

body:has(#slideit) {
  overflow: hidden !important;
}

.empty-card-slot {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* @media (min-width: 640px) {
  .cardex-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 640px) {
  .cardex-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
} */

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.pulse-animation {
  animation: pulse 2s infinite;
}

.glow-button {
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
}